@import url('colors.css');


main input[type=submit] {
    padding: 1vh 10% 1vh 10%;
    background-color: var(--highlight-green);
    border: .3vw solid none;
    color: var(--white);
    border:none;
    transition: .2s;
    font-family: 'Roboto', sans-serif;
        border-radius: 1.5vw 1.5vw 1.5vw;
}

.login{
    padding: 1vh 10% 1vh 10%;
    border:none;
    border: .3vw solid none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto';
}

main input[type=submit]:hover {

    transform: scale(1.1);
}


main input[name="hollow"] {
    margin-top: 1rem;
    width: 70%;
    height: 3rem;
    background-color: transparent;
    color: white;
    border: .2vw solid #1C6EA4;
    transition: .5s;
  }
