.popup {
    display: none;
    position: fixed;
    padding: 3vh 6vw 3vh 6vw;
    left: 30%;
    margin-left: -150px;
    top: 50%;
    margin-top: -10vh;
    background: rgb(45,47,53);
    border: .3vw none var(--dark-gray);
    border-radius: .5vw;
    z-index: 20;
  }

  .popup h1{
    font-size: 3vw;
    color: rgb(182,75,73);
    margin-bottom: 3vh;
  }

  .popup p{
    font-size: 1vw;
    color: rgb(245,245,245);
    margin-bottom: 6vh;
  }

  .popup a{
    text-decoration: none;
    font-size: 2vw;
    padding: 1vw;
    margin-bottom: 2vh;

    color: rgb(245,245,245);
    background-color: rgb(61,130,119);
    border: .3vw none var(--dark-gray);
    border-radius: .5vw;

  }
  
  #popup1 {
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  }

  .tutorial{
    background-color: var(--gray);

  }

  .loginfehler{
    background-color: rgba(43, 43, 43, 0.771);
    margin-left: 1.7%;
    margin-top:-10%;
  }