@import url(colors.css);


.br{
    display: inline-block;
    height: 50vh;
  }
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    
   
}

.selection{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vw;

    margin-top: 0;
}

.selection a{
    width: 30%;
}
main a{
    padding: 3vh 3vw 3vh 3vw;
    text-align: center;
    background-color: var(--highlight-red) ;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: var(--white);
}

@media only screen and (max-width : 992px) {
    .selection{
        flex-direction: column;
    }
    .br{
        height: 40vh;
    }
    .selection a{
        height: 10vh;
        width: 80%;
        margin-bottom: 3vw;
    }
  }