
@import url(colors.css);

*, *::before, *::after {
      padding:0;
    margin:0;
}


body{
  background-image: url('media/background.png');
  background-size: cover;
      font-family: 'Roboto', sans-serif;


}

main{
  text-align: center;
  color: var(--white);
}
.br{
  display: inline-block;
  height: 15vh;
}
.BR-Math-Title h1{
  margin: 0vh 0% 20vh 0%;
}


main h1{
  font-size: 7vw;
  text-decoration: var(--highlight-green) underline .5vh;
}

#score{
  margin: 0 50rem;
  margin-top: -10rem;
  height: 5rem;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content:center;
  color: var(--white);
  background-color: var(--gray);
  border-radius: 2rem;
}

.BR-Math-TermZone{
  margin: 10vh 20% 1vh 20%;
  padding: 7vh 2vw 5vh 2vw;
    background-color: var(--lightes-gray);
    border: 5px none var(--lightes-gray);
    border-radius: 40px 40px 40px 40px;
}
.BR-Math-DropZone{
  margin: 0vh 1vw 0 0vw;
  width: 6vw;
  text-align: center;
  height: 9vh;
  z-index: 1;
  float:left;
  font-size: 5vh;
  color: var(--white);
  background-color: var(--highlight-green);
  border: .3vw solid var(--highlight-green);
border-radius: 1rem;
transition: .5s;
  }

  .BR-Math-DropZone:focus{
    outline: none;
    transform: scale(1.2);
  }
.term p {
 font-size: 6vh;
 z-index: 2;
 float: left;
 padding: .5vh 1.5vw .5vh 1.5vw;
 margin: 0 1vw 0 0;
 color: var(--gray);
 background-color: var(--light-gray);
 border: 5px none var(--light-gray);
border-radius: 1rem;
}

.term{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.submit{
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}





/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .decor-border{
    height: 7vh;
  }
  .BR-Math-Variable {
  }
  .BR-Math-Variable h1{
    font-size: 3vw;
    display: flex;
align-items: center;
justify-content: center;
  }
}

@media only screen and (max-width : 992px) {
  .BR-Math-Variable {
    width: unset;
    height: unset;
    display: flex;
align-items: center;
justify-content: center;
}
.BR-Math-TermZone{
  width:100%;
  margin: 2rem 0;
}

.BR-Math-DropZone{
  width: 4rem;
}
  .term p{
  padding:0  .5rem;
}
#score{
  margin:0;
}
}


sup, sub {
  position: relative;
  vertical-align: baseline;
  top: -0.4em;
  font-size: 5vh;
  z-index: 2;
  float: left;
  padding: .5vh 1vw .5vh 1vw;
  margin: 0 .5vw 0 0;
  color: var(--gray);
  background-color: var(--light-gray);
  border: 5px none var(--light-gray);
 border-radius: 17px;
}
sub { top: 0.4em; }