
@import url(colors.css);

*, *::before, *::after {
      padding:0;
    margin:0;
}


body{
  background-image: url('media/background.png');
  background-size: cover;
      font-family: 'Roboto', sans-serif;


}

main{
  text-align: center;
  color: var(--white);
}
.br{
  display: inline-block;
  height: 15vh;
}
.BR-Math-Title h1{
  margin: 0vh 0% 20vh 0%;
}


main h1{
  font-size: 7vw;
  text-decoration: var(--highlight-green) underline .5vh;
}

.BR-Math-TermZone{
  margin: 10vh 20% 1vh 20%;
  padding: 2vh 2vw 14vh 2vw;
    background-color: var(--lightes-gray);
    border: 5px none var(--lightes-gray);
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BR-Math-DropZone{
  margin: 1vh 1vw 0 0vw;
  width: 6vw;
  height: 7.5vh;
  z-index: 1;
  float:left;
  font-size: 6vh;
  color: var(--gray);
  background-color: var(--light-gray);
  border: .3vw solid var(--highlight-green);
border-radius: .3vw;
  }
.term p {
 font-size: 6vh;
 z-index: 2;
 float: left;
 padding: .5vh 1.5vw .5vh 1.5vw;
 margin: 0 1vw 0 0;
 color: var(--gray);
 background-color: var(--light-gray);
 border: 5px none var(--light-gray);
border-radius: 17px;
}
.submit{
  position: relative;
}

#submit-button{
}


  /* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .BR-Math-Variable h1 {
    font-size: 5vw;
}
  .decor-border{
    height: 7.5vh;
  }
      
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .BR-Math-Variable {
      font-size: 1vw;
  }
  .decor-border{
    height: 7.5vh;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .decor-border{
    height: 7.5vh;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .decor-border{
    height: 7vh;
  }
  .BR-Math-Variable {
  }
  .BR-Math-Variable h1{
    font-size: 3vw;
    display: flex;
align-items: center;
justify-content: center;
  }
}

@media only screen and (max-width : 992px) {
  .BR-Math-Variable {
    width: unset;
    height: unset;
    display: flex;
align-items: center;
justify-content: center;
}
.BR-Math-Variable h1{
  padding: 0 2vw 0 2vw;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

sup, sub {
  position: relative;
  vertical-align: baseline;
  top: -0.4em;
  font-size: 5vh;
  z-index: 2;
  float: left;
  padding: .5vh 1vw .5vh 1vw;
  margin: 0 .5vw 0 0;
  color: var(--gray);
  background-color: var(--light-gray);
  border: 5px none var(--light-gray);
 border-radius: 17px;
}
sub { top: 0.4em; }